// BASE

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    font-family: $main-font;
    font-size: 15px;
}

main{
  padding-top: 50px;
}

h1, h2, h3{
margin: 16px 0px 10px 0px;

}

h1{
  font-size: $xl;
}

h2{
  font-size: $l;
}

h3{
  font-size: $m;
}

img{

  max-width: 100%;
}

.page-tittle{

  @include flex-basics(row, nowrap, center, center );
  color: $secondary-color;
  background-color: $primary-color;

  h1{
    
    @include site-mobile-margin;
    font-size: $l;
  }
}  

ul, ol, li{
  
  padding: 0;
  list-style: none;
}

p{
  margin: 0px 0px 15px 0px;
}

.destacado-fuente{
  color: $primary-color;
}

a{
    text-decoration: none;
}












