// COLORS

$primary-color: #00b09b ;
$secondary-color: #ffff;

$dark-grey: #333333;
$middle-grey: #8d8d8d;
$light-grey: #e6e6e6;

$complementary-color: black;


// FONT SIZE

$xxl: 45px;
$xl: 35px;
$l: 30px;
$m: 20px;
$s: 17px;
$xs: 15px;

// FONT SYLE

$main-font: Arial, Helvetica, sans-serif;

