// COLORS

$primary-color: #ffff ;
$secondary-color: #01d277;;

$dark-grey: #081c24;
$middle-grey: #504d58;
$light-grey: #e6e6e6;

$complementary-color: black;


// FONT SIZE

$xxl: 45px;
$xl: 35px;
$l: 30px;
$m: 20px;
$s: 17px;
$xs: 15px;

// FONT SYLE

$main-font: Arial, Helvetica, sans-serif;

