
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$dark-grey;
    padding: 0px 5% 16px;

    #page-title h1{
        color:$light-grey;
    }

    #menu a{
        padding-left: 20px;
        color:$light-grey; 
    } 
}